<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <link rel="stylesheet" href="{{ url_for('static', filename='forumstyle_en.css') }}">
    <title>Galéria</title>
</head>
<header>
        <h1 style="font-size:150%">Blablacon</h1>
        <nav id="nav-list">
            <ul>
            <li class="nav-ul"><a class=" nav-text" href="{{ url_for('homepage_en') }}">Home</a></li>
            <li class="nav-ul"><a class=" nav-text" href="{{ url_for('galeria_en') }}">Gallery </a></li>
            <li class="nav-ul"><a class=" nav-text" href="{{ url_for('forum_en') }}">Forum</a></li>
            <li class="nav-ul"><a class=" nav-text" href="{{ url_for('infopage_en') }}">Information</a></li> 
            
            </ul>
            <div class="jazyk-menu">
                <div class="vybraty-jazyk">
                    English
                </div>
                <ul>
                    <li>
                        <a href="" class="en">English</a>
                    </li>
                     <li>
                        <a href="{{ url_for('forum_sk') }}" class="sk">Slovenčina</a>
                    </li>
                </ul>
            </div>
            
        </nav>
    </header>
<body>
    <main>
    <div class="Loginp">
        <ul>
            <li class="login-ul"><a class="login-text" href="/Slovencina/Login.page/login.html">Log in</a></li>
        </ul>
        <ul>
        <li class="registruj-ul"><a class="registruj-text" href="">Register</li>
        </ul>
    </div>

    </main>    
</body>
<footer>Andrea Kmeťová</footer> 
</html>